<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Positively Splendid</title>
    <link rel="stylesheet" href="{{ 'style.css' | asset_url }}">
    <style>
        :root {
          --page-width: {{ settings.page_width| default: '1200' }};
          --bg-color: {{ settings.background_color| default: '#ffffff' }};
          --text-color: {{ settings.text_color| default: '#000000' }};
          --medium-text-color: {{ settings.medium_text_color| default: '#5e5e5e' }};
          --border-color: {{ settings.border_color| default: '#acacac' }};
          // Add more CSS variables as needed
        }
      </style>
    {{ content_for_header }}    
</head>

<body>
    {% section 'header' %}
    {{ content_for_layout }}
    {{ 'scripts.js' | asset_url | script_tag }}
</body>

</html>