<div class="width"> 
    <div class="header">
        <a href="/" class="header-logo">
            <img src="{{ section.settings.logo | img_url: 'master'}}" alt="{{ site.name }}">
        </a>

        <button class="hamburger-menu">
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
            <span class="hamburger-bar"></span>
        </button>

        <ul class="header-nav">
            {% for link in section.settings.navigation.links %} 
                <li class="header-nav-item">
                    <a class="header-nav-anchor" href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="header-nav-overlay"></div>

<style>
    .header-logo {        
        max-width: {{ section.settings.logo_width }}px;
    }
</style>

<script>
    const hamburgerMenu = document.querySelector('.hamburger-menu')
    const mobileMenuDrawer = document.querySelector('.header-nav')
    const mobileOverlay = document.querySelector('.header-nav-overlay')    

    hamburgerMenu.addEventListener("click", function(){
        mobileMenuDrawer.classList.toggle('nav-active')  
        mobileOverlay.classList.toggle('nav-active')
    })

    mobileOverlay.addEventListener("click", function(){
        mobileMenuDrawer.classList.remove('nav-active')  
        mobileOverlay.classList.remove('nav-active')
    })


</script>

{% schema %}
    {
        "name": "Header",
        "tag": "header",
        "class": "header",
        "settings": [
            {
                "type": "image_picker",
                "id": "logo",
                "label": "Logo"                
            },
            {
                "type": "range",
                "id": "logo_width",
                "label": "Logo Width",
                "default": 100,
                "min": 40,
                "max": 300,
                "step": 5
            },
            {
                "type": "link_list",
                "id": "navigation",
                "label": "Navigation menu",
                "default": "main-menu"
            }
        ]
    }
{% endschema %}